In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [7]:
DJI = pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/%5EDJI?period1=1562516944&period2=1594139344&interval=1d&events=history")

DJI

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-07-08,26835.640625,26839.140625,26744.869141,26806.140625,26806.140625,214290000
1,2019-07-09,26725.119141,26807.699219,26665.570313,26783.490234,26783.490234,218330000
2,2019-07-10,26851.960938,26983.449219,26813.109375,26860.199219,26860.199219,207990000
3,2019-07-11,26950.160156,27088.449219,26916.320313,27088.080078,27088.080078,252300000
4,2019-07-12,27139.490234,27333.789063,27135.449219,27332.029297,27332.029297,248390000
...,...,...,...,...,...,...,...
248,2020-06-30,25512.429688,25905.380859,25475.140625,25812.880859,25812.880859,410780000
249,2020-07-01,25879.380859,26019.310547,25713.609375,25734.970703,25734.970703,373180000
250,2020-07-02,25936.449219,26204.410156,25778.119141,25827.359375,25827.359375,349130000
251,2020-07-06,25996.080078,26297.529297,25996.080078,26287.029297,26287.029297,340690000
252,2020-07-07,26172.009766,26174.929688,26047.199219,26087.630859,26087.630859,144103905

In [8]:
DJI.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-07-08,26835.640625,26839.140625,26744.869141,26806.140625,26806.140625,214290000
1,2019-07-09,26725.119141,26807.699219,26665.570313,26783.490234,26783.490234,218330000
2,2019-07-10,26851.960938,26983.449219,26813.109375,26860.199219,26860.199219,207990000
3,2019-07-11,26950.160156,27088.449219,26916.320313,27088.080078,27088.080078,252300000
4,2019-07-12,27139.490234,27333.789063,27135.449219,27332.029297,27332.029297,248390000

In [9]:
DJI.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
248,2020-06-30,25512.429688,25905.380859,25475.140625,25812.880859,25812.880859,410780000
249,2020-07-01,25879.380859,26019.310547,25713.609375,25734.970703,25734.970703,373180000
250,2020-07-02,25936.449219,26204.410156,25778.119141,25827.359375,25827.359375,349130000
251,2020-07-06,25996.080078,26297.529297,25996.080078,26287.029297,26287.029297,340690000
252,2020-07-07,26172.009766,26174.929688,26047.199219,26087.630859,26087.630859,144103905

In [27]:
DJI.head

<bound method NDFrame.head of               Open     High      Low   Close      Volume  Ex-Dividend  \
Date
2006-10-02   75.10   75.870   74.300   74.86  25451400.0          0.0
2006-10-03   74.45   74.950   73.190   74.07  28239600.0          0.0
2006-10-04   74.10   75.462   73.160   75.38  29610100.0          0.0
2006-10-05   74.53   76.160   74.130   74.83  24424400.0          0.0
2006-10-06   74.42   75.040   73.810   74.22  16677100.0          0.0
...            ...      ...      ...     ...         ...          ...
2011-12-23  399.69  403.590  399.495  403.33   9621400.0          0.0
2011-12-27  403.10  409.090  403.020  406.53   9467000.0          0.0
2011-12-28  406.89  408.250  401.340  402.64   8166500.0          0.0
2011-12-29  403.40  405.650  400.510  405.12   7713500.0          0.0
2011-12-30  403.51  406.280  403.490  405.00   6416500.0          0.0

            Split Ratio  Adj. Open  Adj. High   Adj. Low  Adj. Close  \
Date
2006-10-02          1.0   9.651397   9.750352   9.548586    9.620553
2006-10-03          1.0   9.567863   9.632120   9.405935    9.519027
2006-10-04          1.0   9.522883   9.697919   9.402080    9.687381
2006-10-05          1.0   9.578144   9.787621   9.526738    9.616698
2006-10-06          1.0   9.564007   9.643686   9.485614    9.538304
...                 ...        ...        ...        ...         ...
2011-12-23          1.0  51.365736  51.866940  51.340676   51.833526
2011-12-27          1.0  51.803968  52.573767  51.793687   52.244771
2011-12-28          1.0  52.291036  52.465815  51.577784   51.744852
2011-12-29          1.0  51.842522  52.131679  51.471117   52.063566
2011-12-30          1.0  51.856659  52.212643  51.854089   52.048145

            Adj. Volume
Date
2006-10-02  178159800.0
2006-10-03  197677200.0
2006-10-04  207270700.0
2006-10-05  170970800.0
2006-10-06  116739700.0
...                 ...
2011-12-23   67349800.0
2011-12-27   66269000.0
2011-12-28   57165500.0
2011-12-29   53994500.0
2011-12-30   44915500.0

[1323 rows x 12 columns]>

In [28]:
DJI.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2006-10-02,75.10,75.870,74.30,74.86,25451400.0,0.0,1.0,9.651397,9.750352,9.548586,9.620553,178159800.0
2006-10-03,74.45,74.950,73.19,74.07,28239600.0,0.0,1.0,9.567863,9.632120,9.405935,9.519027,197677200.0
2006-10-04,74.10,75.462,73.16,75.38,29610100.0,0.0,1.0,9.522883,9.697919,9.402080,9.687381,207270700.0
2006-10-05,74.53,76.160,74.13,74.83,24424400.0,0.0,1.0,9.578144,9.787621,9.526738,9.616698,170970800.0
2006-10-06,74.42,75.040,73.81,74.22,16677100.0,0.0,1.0,9.564007,9.643686,9.485614,9.538304,116739700.0

In [29]:
DJI.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2011-12-23,399.69,403.59,399.495,403.33,9621400.0,0.0,1.0,51.365736,51.866940,51.340676,51.833526,67349800.0
2011-12-27,403.10,409.09,403.020,406.53,9467000.0,0.0,1.0,51.803968,52.573767,51.793687,52.244771,66269000.0
2011-12-28,406.89,408.25,401.340,402.64,8166500.0,0.0,1.0,52.291036,52.465815,51.577784,51.744852,57165500.0
2011-12-29,403.40,405.65,400.510,405.12,7713500.0,0.0,1.0,51.842522,52.131679,51.471117,52.063566,53994500.0
2011-12-30,403.51,406.28,403.490,405.00,6416500.0,0.0,1.0,51.856659,52.212643,51.854089,52.048145,44915500.0

In [31]:
DJI.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,1323.000000,1323.000000,1323.000000,1323.000000,1.323000e+03,1323.0,1323.0,1323.000000,1323.000000,1323.000000,1323.000000,1.323000e+03
mean,202.303670,204.674047,199.552209,202.224393,2.689852e+07,0.0,1.0,25.998841,26.303468,25.645240,25.988653,1.882896e+08
std,98.862163,99.387200,98.208529,98.837774,1.467152e+07,0.0,0.0,12.705166,12.772640,12.621165,12.702032,1.027007e+08
min,73.420000,73.980000,72.600000,73.230000,5.624800e+06,0.0,1.0,9.435493,9.507461,9.330112,9.411076,3.937360e+07
25%,122.205000,124.270000,120.275000,122.020000,1.602910e+07,0.0,1.0,15.705046,15.970427,15.457014,15.681271,1.122037e+08
50%,176.260000,179.500000,173.080000,175.840000,2.328380e+07,0.0,1.0,22.651867,23.068252,22.243192,22.597891,1.629866e+08
75%,271.440000,273.927500,268.460000,270.900000,3.308900e+07,0.0,1.0,34.883823,35.203502,34.500852,34.814426,2.316230e+08
max,421.760000,426.700000,415.990000,422.240000,1.204632e+08,0.0,1.0,54.202038,54.836897,53.460513,54.263725,8.432424e+08

In [35]:

DJI.to_csv("DJI.csv")
pd.read_csv("DJI.csv")

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2006-10-02,75.10,75.870,74.300,74.86,25451400.0,0.0,1.0,9.651397,9.750352,9.548586,9.620553,178159800.0
1,2006-10-03,74.45,74.950,73.190,74.07,28239600.0,0.0,1.0,9.567863,9.632120,9.405935,9.519027,197677200.0
2,2006-10-04,74.10,75.462,73.160,75.38,29610100.0,0.0,1.0,9.522883,9.697919,9.402080,9.687381,207270700.0
3,2006-10-05,74.53,76.160,74.130,74.83,24424400.0,0.0,1.0,9.578144,9.787621,9.526738,9.616698,170970800.0
4,2006-10-06,74.42,75.040,73.810,74.22,16677100.0,0.0,1.0,9.564007,9.643686,9.485614,9.538304,116739700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,2011-12-23,399.69,403.590,399.495,403.33,9621400.0,0.0,1.0,51.365736,51.866940,51.340676,51.833526,67349800.0
1319,2011-12-27,403.10,409.090,403.020,406.53,9467000.0,0.0,1.0,51.803968,52.573767,51.793687,52.244771,66269000.0
1320,2011-12-28,406.89,408.250,401.340,402.64,8166500.0,0.0,1.0,52.291036,52.465815,51.577784,51.744852,57165500.0
1321,2011-12-29,403.40,405.650,400.510,405.12,7713500.0,0.0,1.0,51.842522,52.131679,51.471117,52.063566,53994500.0
1322,2011-12-30,403.51,406.280,403.490,405.00,6416500.0,0.0,1.0,51.856659,52.212643,51.854089,52.048145,44915500.0